/* #form {
    background-color: rgb(57, 27, 139);
} */

body {
    background-color: #e2f06463;
    /* background-color: #e0e0d1; */
}




h1 {
  width:500px;
  margin: 0 auto;
  text-align: center;
}

/* image {
  margin: 0 auto;
  text-align: center;
} */