/* #form {
    background-color: rgb(57, 27, 139);
} */

body {
  background-color: #ac9b0063;
  /* background-color: #e0e0d1; */
}

table{
  background-color: rgb(255, 255, 255);
}

th{
  background-color: rgb(240, 239, 239);
  
}
h1 {
  width:500px;
  margin: 0 auto;
  text-align: center;
}